<p id="notice"><%= notice %></p>

<h1>Product Catalog</h1>

<div class="container"> 
  <div class="links"><%= link_to 'New Item', new_productcatalog_path %></div>
  <div class="links"><%= link_to 'Back to Main', root_path %></div>
</div>

<table id="tabledata">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Isavailable</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @productcatalogs.each do |productcatalog| %>
      <tr>
        <td><%= productcatalog.name %></td>
        <td><%= productcatalog.description %></td>
        <td><%= productcatalog.isavailable %></td>
        <td class="links"><%= link_to 'Show', productcatalog %></td>
        <td class="links"><%= link_to 'Edit', edit_productcatalog_path(productcatalog) %></td>
        <td class="links"><%= link_to 'Destroy', productcatalog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

