<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @productcatalog.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @productcatalog.string %>
</p>

<p>
  <strong>Description:</strong>
  <%= @productcatalog.description %>
</p>

<p>
  <strong>Minquality:</strong>
  <%= @productcatalog.minquality %>
</p>

<p>
  <strong>Maxquantity:</strong>
  <%= @productcatalog.maxquantity %>
</p>

<p>
  <strong>‘price:</strong>
  <%= @productcatalog.‘price %>
</p>

<p>
  <strong>‘price:</strong>
  <%= @productcatalog.‘price %>
</p>

<p>
  <strong>Isavailable:</strong>
  <%= @productcatalog.isavailable %>
</p>

<p>
  <strong>Prodprovider:</strong>
  <%= @productcatalog.Prodprovider %>
</p>

<p>
  <strong>References:</strong>
  <%= @productcatalog.references %>
</p>

<p>
  <strong>Prodlines:</strong>
  <%= @productcatalog.Prodlines %>
</p>

<p>
  <strong>References:</strong>
  <%= @productcatalog.references %>
</p>

<%= link_to 'Edit', edit_productcatalog_path(@productcatalog) %> |
<%= link_to 'Back', productcatalogs_path %>
