<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prodprovider.name %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @prodprovider.contactname %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @prodprovider.isactive %>
</p>

<div class="container">
<div class="links"><%= link_to 'Edit', edit_prodprovider_path(@prodprovider) %></div>
<div class="links"><%= link_to 'Back', prodproviders_path %></div>
</div>
