<p id="notice"><%= notice %></p>

<h1>Product lines Catalog</h1>

<table id="tabledata">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Available?</th>
      <th colspan='3'>Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @productlines.each do |productline| %>
      <tr>
        <td><%=productline.name %></td>
        <td><%=productline.isactive %></td>        
        <td class="links"><%= link_to 'Show', productline %></td>
        <td class="links"><%= link_to 'Edit', edit_productline_path(productline) %></td>
        <td class="links"><%= link_to 'Destroy', productline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="links"><%= link_to 'New Line', new_productline_path %></p>
