<p id="notice"><%= notice %></p>
<div>
<p><strong>Product Name:</strong> <%= @productline.name %></p>
<p><strong>Description:</strong><%= @productline.description %></p>
<p><strong>Available?:</strong><%= @productline.isactive %></p>
<p><strong>Created at:</strong> <%= @productline.created_at %></p>
<p><strong>Updated at:</strong><%= @productline.updated_at %></p>
</div>
<div class="container">
<div class="links"><%= link_to 'Edit', edit_productline_path(@productline) %></div>
<div class="links"><%= link_to 'Back', productlines_path %></div>
</div>