<p id="notice"><%= notice %></p>
<div>
<span>Product Name: <%= @productline.name %></span>
<span>Description:<%= @productline.description %></span>
<span>Available?<%= @productline.isactive %></span>
<span>Created at: <%= @productline.created_at %></span>
<span>Updated at:<%= @productline.updated_at %></span>
</div>
<%= link_to 'Edit', edit_productline_path(@productline) %> |
<%= link_to 'Back', productlines_path %>
